$primary-color: #3490dc;
$tag-color: #8bc34a;
$font-family: 'Arial', sans-serif;

:root {
    --bg: #fffefe;
    --text: #333;
}

[data-theme="dark"] {
    --bg: #333;
    --text: #fffefe;
}


body {
    font-family: $font-family;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    background-color: $primary-color;
    margin-bottom: 30px;
    color: #fffefe;

    a {
        color: #fffefe;
    }
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 10px;

    a {
        color: black;
    }
}

#theme_toggle:hover {
    cursor: pointer;
}

.tag-selector {
    margin-left: 10px;
}

.back-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    width: 100%;
    margin-bottom: 10px;
    border: none;

}

.back-button:hover {
    cursor: pointer;

    a {
        color: $primary-color;
    }

    svg {
        fill: $primary-color;
    }
}


.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background: var(--bg);
    color: var(--text);
    //padding-inline: 20px;
    border-radius: 5px;
}

form {
    input, textarea, select {
        padding: 8px;
        margin: 5px 0;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    button {
        background: $primary-color;
        color: #fffefe;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}

.action-button {
    background: $primary-color;
    color: #fffefe;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;

    a {
        color: #fffefe;
    }
}

.action-button__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

li {
    list-style: none;

    h3 > a:hover {
        color: $primary-color;
    }
}

.post-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

    li {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 500px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.08);

        &:hover {
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15),
            0 2px 5px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
        }
    }
}

a {
    text-decoration: none;
    color: var(--text);
}

.image-container {
    flex: 1;
    min-height: 200px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.tag-list {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
}

li {
    margin: 5px;
    background: var(--bg);
    color: var(--text);
    padding: 5px 10px;
    border-radius: 15px;
}


nav[role="navigation"] {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0;
    padding-block: 10px;
    font-family: $font-family;

    div:last-child > div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: center;

        span {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }

        span > a > svg {
            width: 20px;
        }

        span > span > span > svg {
            width: 20px;
        }

    }

}

.post-show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 10px;

    .post-show-image-container {
        flex: 1;
        min-height: 200px;
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .post-show-tag {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        span {
            color: $tag-color;
        }
    }
}

