$primary-color: #3490dc;
$font-family: 'Arial', sans-serif;

:root {
    --bg: #fffefe;
    --text: #333;
}

[data-theme="dark"] {
    --bg: #333;
    --text: #fffefe;
}

#theme_toggle {
    display: block;
    position: absolute;
    top: 85px;
    left: auto;
}

body {
    font-family: $font-family;
    margin: 0;
    background: #8EC5FC;
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background: var(--bg);
    color: var(--text);
    padding: 20px;
    border-radius: 5px;
}

form {
    input, textarea, select {
        //width: 100%;
        padding: 8px;
        margin: 5px 0;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    button {
        background: $primary-color;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}

li {
    list-style: none;
}

.post-list {
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ddd;
    }
}

.tag-list {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
}
    li {
        margin: 5px;
        background: $primary-color;
        color: white;
        padding: 5px 10px;
        border-radius: 15px;
    }
